<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&family=Merriweather:wght@700&family=Open+Sans&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Import DataTable Library -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
    <title>Quản lý User</title>
</head>

<body onload="onPageLoading()">
    <div class="container">
        <div class="text-center mt-3">
            <h2>Quản lý user</h2>
        </div>
        <div class="form--group">
            <button class="btn btn-success mb-2" id="btn-add-user"><i class="fa fa-plus"></i>&nbsp; Thêm user</button>
        </div>
    </div>
    <div class="container">
        <table id="user-table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Create product modal -->
    <div>
        <div id="create-user-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Thêm user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-username">User Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-create-username" name="reqUsername"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-Password">Password</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="password" id="input-create-password" name="reqPassword" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-create-role">Role</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="reqRole" id="input-create-role" class="form-control">
                                        <option>Chọn role</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" id="btn-create-user" style="float: right;">Insert user</button>
                        <button class="btn btn-danger" id="btn-create-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update product modal -->
    <div>
        <div id="update-user-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Chi tiết user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-userid"> User Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-userid" name="id" class="form-control"
                                        readonly="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-username"> User Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-username" name="reqUsername"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-Password">Password</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-password" name="reqPassword" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for="input-update-role">Role</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" id="input-update-role" name="reqRole" placeholder=""
                                        class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" style="float: right;" id="btn-update-user">Update
                            User</button>
                        <button class="btn btn-danger" id="btn-update-cancel" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirm modal -->
    <div>
        <div class="modal fade" tabindex="-1" id="delete-confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5-modal-title">Confirm xóa user</h5>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Bạn có chắc chắn muốn xóa user này không?</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btn-confirm-delete-user">Xác nhận</button>
                        <button class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const gBASE_URL = "/api/user/";
        $("#btn-add-user").on("click", function () {
            onBtnAddNewUserClick();
        });

        $("#btn-create-user").on("click", function () {
            onBtnAddUser();
        })

        $("#btn-update-user").on('click', function () {
            onBtnUpdateUser();
        });
        $("#btn-confirm-delete-user").on('click', function () {
            onBtnConfirmDeleteUser();
        })
        // sự kiện create product trên modal
        async function checkExpiredToken() {
            const token = sessionStorage.getItem('token');
            const refreshToken = sessionStorage.getItem('refreshtoken');
            // Kiểm tra nếu không có token
            if (!token) {
                window.location.href = '/login';
                return null;
            }

            try {
                // Giải mã payload từ JWT
                const payload = JSON.parse(atob(token.split('.')[1]));

                const currentTime = Math.floor((Date.now()) / 100);
                // Kiểm tra token đã hết hạn
                if (payload.exp < currentTime) {
                    // Gọi API làm mới token
                    const response = await fetch('/api/auth/refresh-token', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ refreshToken }),
                    });

                    if (response.ok) {
                        const data = await response.json();
                        sessionStorage.setItem('token', data.accessToken); // Lưu token mới
                        return data.accessToken; // Trả về token mới
                    } else {
                        console.error("Làm mới token thất bại. Chuyển hướng đến trang đăng nhập.");
                        window.location.href = '/';
                        return null;
                    }
                }

                return token; // Trả về token hợp lệ
            } catch (error) {
                console.error("Lỗi khi kiểm tra hoặc làm mới token:", error);
                window.location.href = '/';
                return null;
            }
        }

        onPageLoading = async () => {
            const token = await checkExpiredToken();
            if (!token) {
                window.location.href = '/';
            }
            getAllUser();
        }
        const getAllUser = async () => {
            const token = await checkExpiredToken();
            if (!token) {
                window.location.href = "/";
            }
            "use strict:";
            $.ajax({
                url: gBASE_URL,
                type: 'GET',
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramUser) {
                    console.log(paramUser);
                    loaDataToTable(paramUser.data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


        function loaDataToTable(paramObjectUser) {
            var vUserTable = $('#user-table');
            for (var bI = 0; bI < paramObjectUser.length; bI++) {
                var bNewRow = $('<tr/>').appendTo(vUserTable);

                var vUsername = $('<td/>', {
                    html: paramObjectUser[bI].username
                }).appendTo(bNewRow);

                var vPassword = $('<td/>', {
                    html: paramObjectUser[bI].password
                }).appendTo(bNewRow);

                var vRole = $('<td>', {
                    html: paramObjectUser[bI].roles
                }).appendTo(bNewRow);

                var vAction = $("<td/>").appendTo(bNewRow);
                $('<span/>', {
                    html: `
                <img class="edit-user" src="https://cdn0.iconfinder.com/data/icons/glyphpack/45/edit-alt-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnEditUserClick(this)"
                }).data("id", paramObjectUser[bI]._id).appendTo(vAction);
                $('<span/>', {
                    html: `
                <img class="delete-user" src="https://cdn4.iconfinder.com/data/icons/complete-common-version-6-4/1024/trash-512.png" style="width: 20px;cursor:pointer;">
            `,
                    onClick: "onBtnDeleteUserClick(this)"
                }).data("id", paramObjectUser[bI]._id).appendTo(vAction);
            }
        }



        const onBtnAddNewUserClick = async (req, res) => {
            $("#create-user-modal").modal("show");
            var vSelect = $('#input-create-role');
            const response = await fetch('/api/user/getRole/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            if (response.ok) {
                const data = await response.json();
                console.log(data.data.length);


                for (let i = 0; i < data.data.length; i++) {
                    let role = data.data[i];
                    let roleOptionElement = document.createElement("option");
                    roleOptionElement.value = role._id;
                    roleOptionElement.text = role.name;

                    vSelect.append(roleOptionElement);
                }
            }
        }

        function onBtnEditUserClick(paramBtnEdit) {
            var vCurrentRow = $(paramBtnEdit).closest("tr");
            gUserId = $(paramBtnEdit).data("id");
            getUserByIdUpdate(gUserId);
            $("#update-user-modal").modal("show");
        }

        function onBtnDeleteUserClick(paramBtnDelete) {
            var vCurrentRow = $(paramBtnDelete).closest("tr");
            var vUserId = $(vCurrentRow).find("td:eq(1)").text();
            gId = $(paramBtnDelete).data("id");
            getUserByIdDelete(gId);
            $("#delete-confirm-modal").modal("show");
        }

         getUserByIdUpdate=async(paramUserId)=> {
            const token =await checkExpiredToken(); 

            $.ajax({
                url: gBASE_URL + gUserId,
                type: "GET",
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramUserId) {
                    showUserDataToModal(paramUserId.data);
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }

         getUserByIdDelete=>async(paramUserId) =>{
            const token = await checkExpiredToken();

            $.ajax({
                url: gBASE_URL + gId,
                type: "GET",
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramUserId) {
                    showUserDataToModal(paramUserId.data);
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }

        const onBtnAddUser = async () => {
            const token = await checkExpiredToken();
            console.log(token);
            //B1:THu thap du lieu
            var reqUsername = $("#input-create-username").val().trim();
            var reqPassword = $("#input-create-password").val().trim();
            var reqRole = $("#input-create-role").val().trim();
            var vUserObj = {
                reqUsername: reqUsername,
                reqPassword: reqPassword,
                reqRole: reqRole
            };
            var duLieuHopLe = validate(vUserObj);
            if (duLieuHopLe) {
                const response = await fetch(gBASE_URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer  ${token}`
                    },
                    body: JSON.stringify({ reqUsername: vUserObj.reqUsername, reqPassword: vUserObj.reqPassword, reqRole: vUserObj.reqRole }),
                });
                if (response.ok) {
                    handleInsertUserSuccess();
                }
                else {
                    alert("Loi");
                }
            }
        }

        const onBtnUpdateUser = async () => {
            const token = await checkExpiredToken();
            var vUserObj = {
                reqUsername: "",
                reqPassword: "",
                reqRole: ""
            };
            // B1: Thu thập dữ liệu
            getUpdateUserData(vUserObj);

            // B2: Validate update
            var duLieuHopLe = validate(vUserObj);
            if (duLieuHopLe) {
                const response = await fetch(gBASE_URL + gUserId, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer  ${token}`
                    },
                    body: JSON.stringify({ username: vUserObj.reqUsername, password: vUserObj.reqPassword, role: vUserObj.reqRole }),
                });
                if (response.ok) {
                    handleUpdateUserSuccess();
                }
                else {
                    alert("Loi");
                }
            }
        }


         onBtnConfirmDeleteUser=async()=> {
            const token = await checkExpiredToken();
            //Thực hiệc việc xóa
            $.ajax({
                url: gBASE_URL + gId,
                type: "DELETE",
                contentType: "application/json;charset=UTF-8",
                headers: {
                    'Authorization': `Bearer  ${token}`
                },
                success: function (paramRes) {
                    // B4: xử lý front-end
                    handleDeleteUserSuccess();
                },
                error: function (paramErr) {
                    console.log(paramErr.status);
                }
            });
        }

        // hàm thu thập dữ liệu để update 
        function getUpdateUserData(paramUserObj) {
            paramUserObj.reqUsername = $("#input-update-username").val().trim();
            paramUserObj.reqPassword = $("#input-update-password").val().trim();
            paramUserObj.reqRole = $("#input-update-role").val().trim();
        }

        function showUserDataToModal(paramUser) {
            $("#input-update-userid").val(paramUser._id);
            $("#input-update-username").val(paramUser.username);
            $("#input-update-password").val(paramUser.password);
            $("#input-update-role").val(paramUser.roles);
        }

        function handleInsertUserSuccess() {
            alert("Thêm user thành công!");
            getAllUser();
            resertCreateUserForm();
            $("#create-user-modal").modal("hide");
        }

        // hàm xử lý hiển thị front-end khi cập nhật thành công
        function handleUpdateUserSuccess() {
            alert("Cập nhật user thành công!");
            resertUpdateUserForm();
            location.reload();
            $("#update-user-modal").modal("hide");
        }

        function handleDeleteUserSuccess() {
            alert("Xóa user thành công!");
            location.reload();
            $("#delete-confirm-modal").modal("hide");
        }

        function resertCreateUserForm() {
            $("#input-create-username").val("");
            $("#input-create-password").val("");
            $("#input-create-role").val("");
        }
        // hàm xóa trắng form update user
        function resertUpdateUserForm() {
            $("#input-update-username").val("");
            $("#input-update-password").val("");
            $("#input-update-role").val("");
        }

        function validate(paramObjectUser) {
            if (paramObjectUser.reqUsername == "") {
                alert("Bạn chưa nhập Username");
                return false;
            }
            if (paramObjectUser.reqPassword == "") {
                alert("Ban chua nhap password");
                return false;
            }
            return true;
        }
    </script>