body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    height: 100vh;
  }
  .login {
    margin-top: 120px;
    max-width: 600px;
    margin-left: 400px;
    height: 350px;
    border: 1px solid #9C9C9C;
    background-color:#FFFFFF;
  }
  .form-group{
    border-radius: 10px;
    margin-top: 15px;
  }
  .login-contain{
    padding: 20px;
  }

  .btn{
    width: 100%;
  }
  .formFooter {
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    margin-top: 15px;
  }
  .form-group a{
    text-decoration: none;
  }
  .formFooter a{
    text-decoration: none;
  }